.portfolioDesign {
  height: auto;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  background-color:#363b3e;
  padding: 0;
  margin: 0;
}
.rowDesign{
  display: flex;
  align-items: flex-start;
}
.fistBoxHome{
  height: 100vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 3em;
}
.firstInsideBox{
  margin-top: 2em;
  margin-left: 3em;
  letter-spacing: 0.2em;
  color:#a9a9a9;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.selfieBox{
  width: auto;
  height: 25em;
}
.firstInside{
  display: flex;
  flex-direction: row;
}
.nameDesign, .tecDesign{
  font-size: 4.5em;
  color:#e9ecf0;
}
.developerDesign{
  font-size: 3.5em;
}
.secondInsideBox{
  margin-top: 6em;
  margin-left: 3em;
}
.stackDesign{
  letter-spacing: 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  animation:scale-up-vertical-bottom 0.4s linear} @keyframes scale-up-vertical-bottom{0%{transform:scaleY(.4);transform-origin:center bottom}100%{transform:scaleY(1);transform-origin:center bottom}
}
.tecInside{
  width: 50em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  /* background-color: aqua; */
  line-height: 2em;
  font-size: 1.5em;
  margin-bottom: 7em;
}
.socialMedia:hover{
  cursor: pointer;
}
.studiesDesign{
  height: 40em;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.studiesBoxOne,.studiesBoxTwo {
  padding-left: 5em;
  letter-spacing: 0.2em;
  font-size: larger;
}
.proyectsBox{
  background-color: rgb(192, 190, 189);
  height: auto;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  justify-items: center;
  gap:3em;
  padding: 2em;
}
.proyectBox{
  background-color: rgb(112, 109, 114);
  width: 25em;
  height: 30em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 0.2em;
  display: flex;
  justify-content: center;
  text-align: center;
}

